{% extends "base.html" %}
{% load blog_extras %}
{% load blog_extras cache %}

{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>
{% endrow %}


<!-- existing code here -->

{% comment %}
{% row %}
    {% col %}
        {% recent_posts post %}
    {% endcol %}
{% endrow %}
 {% endcomment %}
 
 <hr>

{% include "blog/post-comments.html" %}


<!-- Most Recent Blog Posts -->
{% row %}
    {% col %}
        <!-- Cache Recent Posts for One Hour -->
        {% cache 3600 recent_posts post %}
            {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}



{% endblock %}









